<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blobs_Payload_Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blobs_Payload_Sender.Properties.Settings>
            <setting name="SET_IP" serializeAs="String">
                <value>192.168.137.</value>
            </setting>
            <setting name="SET_PORT" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="SET_COLOUR" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="SET_PATH" serializeAs="String">
                <value>(Payload Path Here)        </value>
            </setting>
            <setting name="SET_P1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SET_P2" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_P3" serializeAs="String">
                <value />
            </setting>
            <setting name="SET_P4" serializeAs="String">
                <value />
            </setting>
        </Blobs_Payload_Sender.Properties.Settings>
    </userSettings>
</configuration>