<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blobs_Payload_Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Payload_Sender_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Blobs_Payload_Sender.Properties.Settings>
            <setting name="SET_IP" serializeAs="String">
                <value>192.168.137.</value>
            </setting>
            <setting name="SET_PORT" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="SET_COLOUR" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="SET_PATH" serializeAs="String">
                <value>(Payload Path Here)        </value>
            </setting>
        </Blobs_Payload_Sender.Properties.Settings>
        <Payload_Sender_3.Properties.Settings>
            <setting name="SET_IP" serializeAs="String">
                <value>192.168.1</value>
            </setting>
            <setting name="SET_PORT" serializeAs="String">
                <value>9020</value>
            </setting>
            <setting name="SET_COLOUR" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="SET_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="TM" serializeAs="String">
                <value>0</value>
            </setting>
        </Payload_Sender_3.Properties.Settings>
    </userSettings>
</configuration>